[data-bs-theme="dark"] {
    --bs-body-color: #f8f9fa;
    --bs-body-bg: #212529;
    --bs-navbar-color: rgba(255, 255, 255, 0.55);
    --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
    --bs-navbar-active-color: #fff;
    --bs-navbar-brand-color: #fff;
    --bs-navbar-brand-hover-color: #fff;
    --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

[data-bs-theme="dark"] .navbar {
    background-color: #343a40 !important;
}

[data-bs-theme="dark"] .bg-light {
    background-color: #343a40 !important;
}

[data-bs-theme="dark"] .card {
    background-color: #343a40;
    border-color: #495057;
}

[data-bs-theme="dark"] .text-muted {
    color: #adb5bd !important;
}

[data-bs-theme="dark"] .btn-outline-dark {
    color: #f8f9fa;
    border-color: #f8f9fa;
}

[data-bs-theme="dark"] .btn-outline-dark:hover {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

[data-bs-theme="dark"] .navbar-brand,
[data-bs-theme="dark"] .navbar-nav .nav-link,
[data-bs-theme="dark"] .navbar-toggler-icon {
    color: #fff !important;
}

[data-bs-theme="dark"] .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

[data-bs-theme="dark"] .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


#modeText {
    margin-left: 5px;
}

.mode-switch-container {
    margin-left: 20px;
}

@media (max-width: 991.98px) {
    .mode-switch-container {
        margin-top: 10px;
        margin-left: 0; 
    }
}